[Unit]
Description=Doorbot backend
After=network.target

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/doorbot
ExecStartPre=/bin/sleep 15 
ExecStart=/usr/bin/python3 qdoor.py

[Install]
WantedBy=multi-user.target

